{% extends 'network/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body%}
<div class="friends">
    <h3 class="friends-subtitle">Friends</h3>
    <div class="friend_block">
        <p>friend friend</p>
    </div>
</div>

<h3 class="friends-subtitle">Another people</h3>
<div class="container d-flex justify-content-center">
    <ul class="list-group col-5">
        {% for person in users %}
            {% if person != user %}
                <li class="list-group-item mb-1">
                    <a href="{% url 'person' person.id %}" class="card-link friend">{{ person.first_name }} {{ person.last_name }}</a>
                    <div>
                        <a href="" class="friend"><i class="fas fa-user-plus"></i></a>
                        <a href="{% url 'create_dialog' person.id %}" class="friend"><i class="fas fa-comment"></i></a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% endblock %}