{% extends 'network/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<form method="POST">
    {% csrf_token %}
    <br>
    <h1>Sign up</h1>
    <br><br>
    <div class="autorize">
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom01">First name</label>
          {{ form.first_name}}
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Last name</label>
          {{ form.last_name }}
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-2">
          <label for="validationCustom02">Username</label>
          {{ form.username}}
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <label for="inputEmail4">Email</label>
          {{ form.email }}
        </div>
        <div class="col-md-4">
          <label for="inputPassword4">Password</label>
          {{ form.password}}
        </div>
      </div>
    </div>
    <br>

    <button type="submit" class="btn btn-outline-light btn-lg">Sign up</button>

</form>

{% endblock %}