/* COLORS:
  #2d4059 - blue
  #ffb400 - yellow
  #ea5455 - pink
  #f6f6f6 - gray
  #ffffff - white */

#body {
  background-color: #f6f6f6;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

main {
  text-align: center;
  color: #2d4059;
}

.main-page {
  display: flex;
}

.main-page .welcome {
  text-align: left;
  position: absolute;
  display: block;
  margin: 7% 0% 0% 15%;
}

.main-page .abilities {
  text-align: left;
  position: absolute;
  display: block;
  margin: 23% 0% 0% 15%;
}

.main-page .abilities .you_can {
  font-size: x-large;
}

.main-page .abilities .i_can {
  font-size: large;
}

.main-page .img_people {
  position: absolute;
  display: block;
  margin: 5% 0% 0% 50%;
  background-color: #2d4059;
  border-radius: 10px;
}

.main-page .buttons {
  position: absolute;
  display: block;
  margin: 35% 0% 0% 15%;
}

.panel {
  position: absolute;
  display: block;
  margin: 5% 0% 0% 30%;
}

/* #innerMessages {
  text-align: center;
  font-family: sans-serif;
  color: #f6f6f6;
  font-size: large;
  border: 2px solid #2d4059;
  border-radius: 0.5rem;
  width: 220%;
  height: 20%;
} */

.friend {
  color: #2d4059;
}
