/* COLORS:
  #2d4059 - blue
  #ffb400 - yellow
  #ea5455 - pink
  #f6f6f6 - gray
  #ffffff - white */

#body {
  background-color: #2d4059;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

main {
  text-align: center;
  color: #f6f6f6;
}

.main-page {
  display: flex;
}

.main-page .welcome {
  text-align: left;
  position: absolute;
  display: block;
  margin: 7% 0% 0% 15%;
}

.main-page .abilities {
  text-align: left;
  position: absolute;
  display: block;
  margin: 23% 0% 0% 15%;
}

.main-page .abilities .you_can {
  font-size: x-large;
}

.main-page .abilities .i_can {
  font-size: large;
}

.main-page .img_people {
  position: absolute;
  display: block;
  margin: 5% 0% 0% 50%;
}

.main-page .buttons {
  position: absolute;
  display: block;
  margin: 35% 0% 0% 15%;
}

.autorize {
  text-align: center;
}

.autorize input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

aside {
  float: left;
  max-width: 17%;
  height: 100vh;
  padding: 2.5%;
  position: sticky;
  top: 0;
}

aside ul {
  list-style: none;
  position: relative;
  margin-right: 5%;
  text-align: left;
  padding-inline-start: 0%;
}

aside ul li {
  display: block;
  transition: all 0.2s ease;
}

aside ul li:hover,
aside ul a:hover {
  text-decoration: none;
  transform: scale(1.05);
}
